name: CD on Main

on:
  workflow_dispatch:
    inputs:
      preid:
        description: "preid name(stable or rc)"
        required: false
        default: "rc"
  schedule:
    - cron: "0 8 * * *"

jobs:
  cd-main:
    runs-on: ubuntu-latest

    steps:
      - name: validate branch
        if: ${{ (github.ref != 'refs/heads/develop' && github.ref != 'refs/heads/maven') || (github.ref == 'refs/heads/develop' && (!startsWith(github.event.inputs.version, 'pre') || github.event.inputs.preid != 'alpha')) || (github.ref == 'refs/heads/maven' && startsWith(github.event.inputs.version, 'pre') && github.event.inputs.preid != 'rc') }}
        run: |
          exit 1

      - name: Checkout dev branch
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
          ref: develop

      - name: Setup node
        uses: actions/setup-node@v2.1.2
        with:
          node-version: 14

      - name: Setup npm registry
        run: |
          echo "${{ secrets.NPMRC }}" > ~/.npmrc
      
      - name: Setup project
        run: |
          npm run setup

      - name: Setup git
        run: |
          git config --global user.name 'wenytang-ms-123'
          git config --global user.email 'wenytang@wenytang.onmicrosoft.com'

      - name: release prerelease npm packages to npmjs.org
        if: ${{ startsWith(github.event.inputs.preid, 'rc') }}
        run: |
          npx lerna publish --conventional-prerelease --preid=${{github.event.inputs.preid }} --yes 

      - name: release stable npm packages to npmjs.org
        if: ${{ startsWith(github.event.inputs.preid, 'stable') }}
        run: |
          npx lerna publish --conventional-graduate --yes
